.app{
    width: 80%;
    margin: 12px auto;
    overflow-x: auto;
}
h2{
    text-align: center;
}
table{
    width: 100%;
}
table, th,td{
    border: 1px solid gray;
}
th, td{
    padding: 3px 0;
}
th{
    background-color: black;
    color: #fff;
}
tr:nth-child(even){
    background-color: lightgrey;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.pagination button{
    cursor: pointer;
}
.pagination span{
    margin:0 5px;
    cursor: pointer;
}
.pagination span.active{
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 4px;
    border-radius: 50%;
}
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}